SensorNode.txt
[
    {
        "id": "76a3bb9e.b6fad4",
        "type": "mqtt in",
        "z": "25ea03.6d61f5fe",
        "name": "MyDioty Broker",
        "topic": "/zaki.bm@gmail.com/1234/#",
        "qos": "2",
        "broker": "b57cf76e.9d6308",
        "x": 160,
        "y": 100,
        "wires": [
            [
                "a2147d66.3b44b",
                "facda6c0.8392a8"
            ]
        ]
    },
    {
        "id": "a2147d66.3b44b",
        "type": "switch",
        "z": "25ea03.6d61f5fe",
        "name": "Topic Switching",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "/zaki.bm@gmail.com/1234/Gyroscope/x",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "/zaki.bm@gmail.com/1234/Gyroscope/y",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "/zaki.bm@gmail.com/1234/Gyroscope/z",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "/zaki.bm@gmail.com/1234/battery/percentage",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "/zaki.bm@gmail.com/1234/noise/decibels",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 5,
        "x": 260,
        "y": 260,
        "wires": [
            [],
            [],
            [],
            [],
            [
                "afa746b7.10f928"
            ]
        ]
    },
    {
        "id": "facda6c0.8392a8",
        "type": "debug",
        "z": "25ea03.6d61f5fe",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 490,
        "y": 100,
        "wires": []
    },
    {
        "id": "afa746b7.10f928",
        "type": "ui_chart",
        "z": "25ea03.6d61f5fe",
        "name": "",
        "group": "87c6b0a8.e11ad",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Noise Decibel",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "0",
        "ymax": "50",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "x": 500,
        "y": 300,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "b57cf76e.9d6308",
        "type": "mqtt-broker",
        "z": "25ea03.6d61f5fe",
        "name": "MyDioty MQTT Broker",
        "broker": "mqtt.dioty.co",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "closeTopic": "",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": ""
    },
    {
        "id": "87c6b0a8.e11ad",
        "type": "ui_group",
        "z": "",
        "name": "Noise Chart",
        "tab": "dd22beb1.f2419",
        "order": 1,
        "disp": true,
        "width": "10",
        "collapse": false
    },
    {
        "id": "dd22beb1.f2419",
        "type": "ui_tab",
        "z": "",
        "name": "Sensor Node App",
        "icon": "dashboard",
        "order": 8
    }
]
