SensorNode.txt
[
    {
        "id": "c43adf94.b8b92",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": ""
    },
    {
        "id": "86e3ea11.c970f8",
        "type": "mqtt in",
        "z": "c43adf94.b8b92",
        "name": "MyMQTT Broker",
        "topic": "realzaki/#",
        "qos": "2",
        "broker": "2c07fc99.845b34",
        "x": 180,
        "y": 100,
        "wires": [
            [
                "abd62523.a06ea8",
                "b20bc222.30edb"
            ]
        ]
    },
    {
        "id": "abd62523.a06ea8",
        "type": "switch",
        "z": "c43adf94.b8b92",
        "name": "Topic Switching",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "/zaki.bm@gmail.com/1234/Gyroscope/x",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "/zaki.bm@gmail.com/1234/Gyroscope/y",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "/zaki.bm@gmail.com/1234/Gyroscope/z",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "/zaki.bm@gmail.com/1234/battery/percentage",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "/zaki.bm@gmail.com/1234/noise/decibels",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 5,
        "x": 280,
        "y": 260,
        "wires": [
            [],
            [],
            [],
            [],
            [
                "c3e27387.35652"
            ]
        ]
    },
    {
        "id": "b20bc222.30edb",
        "type": "debug",
        "z": "c43adf94.b8b92",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 510,
        "y": 100,
        "wires": []
    },
    {
        "id": "c3e27387.35652",
        "type": "ui_chart",
        "z": "c43adf94.b8b92",
        "name": "",
        "group": "ccb4d6a6.1f8a78",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Noise Decibel",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "0",
        "ymax": "50",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "x": 520,
        "y": 300,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "2c07fc99.845b34",
        "type": "mqtt-broker",
        "z": "c43adf94.b8b92",
        "name": "MyMQTT Broker",
        "broker": "tracker.my",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "closeTopic": "",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": ""
    },
    {
        "id": "ccb4d6a6.1f8a78",
        "type": "ui_group",
        "z": "",
        "name": "Noise Chart",
        "tab": "489a81c8.30a41",
        "order": 1,
        "disp": true,
        "width": "10",
        "collapse": false
    },
    {
        "id": "489a81c8.30a41",
        "type": "ui_tab",
        "z": "",
        "name": "Sensor Node App",
        "icon": "dashboard",
        "order": 8
    }
]
